<ul class="menu">
    <li>
        <a href="#">New Case</a>
    </li>
    <li>
        <a href="#">My Profile</a>
        <div class="profile-viewer striped-table">
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td class="align-l">Xxxx xxxxx</td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td class="align-l">Xxxx, xxxx, xxx</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td class="align-l">XXXX (XX)</td>
                    </tr>
                    <tr>
                        <td>LOB</td>
                        <td class="align-l">XX</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>